<% content_for :head do %>
<style type="text/css">
#mail a {
	font-size:96px;
	text-decoration: none
}	
</style>
<% end %>
<div id="geo" class="span-6 append-2">
	<h2>Where</h2>
	<p>
		<%= link_to image_tag("rensselaer_over.png", :width => 230, :height => 44, :mouseover => "rensselaer.png"), "http://rpi.edu", :popup => true %>
	</p>
		<dl>
			<dt>My Location:</dt> 
			<dd>Troy, NY</dd>
		</dl>
	<p>
		Feel free to drop me a line with feedback about the site, talk about cool stuff you are working on, or potential design or development work.
	</p>
	<p>
		I try to respond to all emails, but sometimes I'm busy reading <%= link_to "reddit", "http://reddit.com" %> or distracted by other things, namely music.
	</p>
	<p>
		<%= image_tag("mdr.png", :width => 230, :height => 278, :alt => "Sony Studio Monitor V6") %>
	</p>
</div>

<div class="span-10 append-2">

<% if flash[:notice ] %>
<div class="notice">
	<%= flash[:notice] %>
</div>
<% elsif flash[:error] %>
<div class="error">
	<%= flash[:error] %>
</div>
<% end %>

<h2>How</h2>
<p id="mail">
	<script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%65%6c%6c%69%73%40%65%6c%6c%69%73%62%65%72%6e%65%72%2e%63%6f%6d%22%3e%40%65%6c%6c%69%73%3c%2f%61%3e%27%29%3b'))</script>
</p>
</div>

<div id="twitter" class="span-4 last">
	<h2 style="text-decoration:line-through;">Twitter</h2>
	<p>Fuck twitter.</p>
</div>
