<div id="footer"> 
	<div class="container">	
		<hr class="space" /> 
		<hr class="space" /> 
		<div class="span-8 quiet"> 
			<ul>
				<li>Fucking ideate</li>
				<li>Use more fucking white space</li>
				<li>Fucking start over</li>
				<li>Read the fucking copy</li>
				<li>Don't be greedy</li>
				<li>Capitalize on the fucking experience</li>
				<li>Use fucking alignment</li>
				<li>Less if fucking more</li>
				<li>Learn from your fucking mistakes</li>
				<li>There is no fucking box</li>
				<li>Pay attention to fucking detail</li>
				<li>Think fucking laterally</li>
				<li>Write a fucking design brief</li>
				<li>Don't be trendy</li>
			</ul>
		</div>
		<div class="span-8 last quiet">
			<ul class="list">
				<li>Consider your fucking user</li>
				<li>Fucking do it again</li>
				<li>Sans-fucking-serif</li>
				<li>Fucking experiment</li>
				<li>Get over your fucking self</li>
				<li>Work outside of your fucking habits</li>
				<li>Do it right the first fucking time</li>
				<li>Give a damn</li> 
				<li>Learn from your fucking peers</li>
				<li>Love your job</li>
				<li>Fucking simplify</li>
				<li>Take a fucking chance</li>
				<li>Educate your client</li>
				<li>Be a good fucking person</li>
			</ul>
			<p>This site was crafted using 100% organic pixels and only the finest <a href="http://validator.w3.org/check?uri=referer">HTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.</p> 
		</div> 
		<div id="elsewhere" class="span-6 last"> 
			<h3>Find Me Elsewhere</h3> 
			<div class="span-6 last"> 
				<a href="http://stackoverflow.com/users/381285/maletor"><img src="http://stackoverflow.com/users/flair/381285.png?theme=clean" width="208" height="58" alt="profile for Maletor at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Maletor at Stack Overflow, Q&amp;A for professional and enthusiast programmers" /></a> 
			</div> 
			<hr class="space" /> 
			<div class="span-1 prepend-1"> 
				<p> 
					<a href="http://www.facebook.com/ellis.berner"><img alt="Facebook" height="30" src="/images/facebook.png" width="30" /></a>		
				</p>	
			</div> 
			<div class="span-1"> 
				<p> 
					<a href="http://linkedin.com/in/ellisberner"><img alt="LinkedIn" height="30" src="/images/linkedin.png" width="30" /></a>			
				</p> 
			</div> 

			<div class="span-1"> 
				<p> 
					<a href="http://flickr.com/photos/ellisd"><img alt="Flickr" height="30" src="/images/flickr.png" width="30" /></a>			
				</p> 
			</div> 

			<div class="span-1"> 
				<p> 
					<a href="http://www.last.fm/user/Maletor"><img alt="Last.fm" height="30" src="/images/lastfm.png" width="30" /></a> 
				</p> 
			</div>	
			<div class="span-1 last"> 
				<p> 
					<a href="http://github.com/maletor"><img alt="GitHub" height="30" src="/images/github.png" width="30" /></a> 
				</p> 
			</div> 
			
			<div class="span-6 last"> 
				<p> 
					Online interactions not rated by the <a href="http://www.twoangrycamelsinacar.com">ESRB</a>.
				</p> 
			</div> 
		</div> 

		<div class="span-24 copyright"> 
			<div class="span-24"><p class="small">All wrongs reserved. Copyleft 2011 <a href="http://ellisberner.com">EllisBerner.com</a></p></div>	
			<hr class="space" /> 
		</div> 
	</div> 
</div> 
