<div id="footer"> 
	<div class="container">	
		<hr class="space" /> 
		<hr class="space" /> 
		<div class="span-17 append-1"> 
			<h3>A Little Something About Me</h3> 
			<p>Growing up as a kid I knew I wanted to be a designer. I used lincoln logs to create intricate skyscrapers. I innovated my own line of sailboats. I even started my own company. For me it was never about playing the game, but designing the map.</p> 
			<p>I was so immersed in coming up with something new, I could barely contain myself. As a teenager, I discovered computer programming. It fused the creative side of design with the mathematical precision necessary for coding, and I loved it.</p> 
			<p>Currently, I am a senior at Rensselaer Polytechnic Institute in Troy, New York where I major in both Web Science and Business.</p> 
			<p>This site was crafted using 100% organic pixels and only the finest <a href="http://validator.w3.org/check?uri=referer">HTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.</p> 
		</div> 
		<div id="elsewhere" class="span-6 last"> 
			<h3>Find Me Elsewhere</h3> 
			<div class="span-1 prepend-1"> 
				<p> 
					<a href="http://www.facebook.com/ellis.berner"><img alt="Facebook" height="30" src="/images/facebook.png" width="30" /></a>		
				</p>	
			</div> 
			<div class="span-1"> 
				<p> 
					<a href="http://linkedin.com/in/ellisberner"><img alt="LinkedIn" height="30" src="/images/linkedin.png" width="30" /></a>			
				</p> 
			</div> 

			<div class="span-1"> 
				<p> 
					<a href="http://flickr.com/photos/ellisd"><img alt="Flickr" height="30" src="/images/flickr.png" width="30" /></a>			
				</p> 
			</div> 

			<div class="span-1"> 
				<p> 
					<a href="http://www.last.fm/user/Maletor"><img alt="Last.fm" height="30" src="/images/lastfm.png" width="30" /></a> 
				</p> 
			</div>	
			<div class="span-1 last"> 
				<p> 
					<a href="http://github.com/maletor"><img alt="GitHub" height="30" src="/images/github.png" width="30" /></a> 
				</p> 
			</div> 
			<div class="span-6 last"> 
				<a href="http://stackoverflow.com/users/381285/maletor"><img src="http://stackoverflow.com/users/flair/381285.png?theme=clean" width="208" height="58" alt="profile for Maletor at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Maletor at Stack Overflow, Q&amp;A for professional and enthusiast programmers" /></a> 
			</div> 
			<hr class="space" /> 
			<div class="span-6 last"> 
				<p> 
					Online interactions not rated by the <a href="http://www.twoangrycamelsinacar.com">ESRB</a>.
				</p> 
			</div> 
		</div> 

		<div class="span-24 copyright"> 
			<div class="span-24"><p class="small">All wrongs reserved. Copyleft 2011 <a href="http://ellisberner.com">EllisBerner.com</a></p></div>	
			<hr class="space" /> 
		</div> 
	</div> 
</div> 
