<!DOCTYPE html>
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<title>Ellis Berner, Web Architect // {{ page.title }}</title> 
		<meta name="keywords" content="rails, ruby, web applications, rich internet applications, experience design, user experience, ux, ui, xd, web, branding, marketing, non-traditional, design, interaction, website, interactive, design, brand strategy, motion graphics, usablility, fresh, creative, superfresh, graphic design, web design, devices, applications, marblehead, massachusetts, usa, united states" />
		<meta name="description" content="Ellis Berner hosts a technology firm specializing in web application development and design services." />
		<meta name="author" content="Ellis Berner" />
		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if lt IE 8]>
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href="/stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		{% include google-analytics.html %}
	 </head>
	 <body> 
		 <div class="container">
			 <hr class="space" />
			 {% include header.html %}
			 <hr /> 
			 <div id="navigation" class="span-24"> 
				 <div class="span-6 colborder"> 
					 <ul class="list"> 
						 <li><a href="/">posts</a></li> 

						 <li><a href="/portfolio">folio</a></li> 

						 <li><a href="/about">about</a></li> 

						 <li><a href="/contact">contact</a></li> 
					 </ul> 
				 </div> 		

				 <div class="span-17 last"> 
					 <p>
					  Fucking ideate
					  Use more fucking white space
					  Fucking start over
					  Read the fucking copy
					  Don't be greedy
					  Capitalize on the fucking experience
					  Use fucking alignment
					  Less if fucking more
					  Learn from your fucking mistakes
					  There is no fucking box
					  Pay attention to fucking detail
					  Think fucking laterally
					  Write a fucking design brief
					  Don't be trendy
					  Have a clear fucking hierarchy
					  Consider your fucking user
					  Fucking do it again
					  Sans-fucking-serif
					  Fucking experiment
					  Get over your fucking self
					  Work outside of your fucking habits
					  Do it right the first fucking time
					  Give a damn 
					  Learn from your fucking peers
					  Love your job
					  Fucking simplify
					  Take a fucking chance
					  Educate your client
					  Be a good fucking person
				  </p>
				 </div> 
			 </div> 
			 <hr class="space" /> 
			 <hr /> 
			 {{ content }}
			 <hr class="space" /> 
			 <hr class="space" /> 
		 </div> 
		 {% include footer.html %} 
	 </body> 
 </html>
