<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ellis Berner, Web Architect // {{ page.title }}</title>
    <meta name="keywords" content="rails, ruby, web applications, rich internet applications, experience design, user experience, ux, ui, xd, web, branding, marketing, non-traditional, design, interaction, website, interactive, design, brand strategy, motion graphics, usablility, fresh, creative, superfresh, graphic design, web design, devices, applications, marblehead, massachusetts, usa, united states" />
    <meta name="description" content="Ellis Berner hosts a technology firm specializing in web application development and design services." />
    <meta name="author" content="Ellis Berner" />
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  </head>
  <body>
    <div class="container">
      <hr class="space" />
      {% include header.html %}
      <hr />
      <div id="navigation" class="span-24">
        <div class="span-6 colborder">
          <ul class="list">
            <li><a href="/">posts</a></li>

            <li><a href="/portfolio">folio</a></li>

            <li><a href="/about">about</a></li>

            <li><a href="/contact">contact</a></li>
          </ul>
        </div>

        <div class="span-17 last">
          <h1 class="quiet">musings</h1>
        </div>
      </div>
      <hr class="space" />
      <hr />
      {{ content }}
      <hr class="space" />
      <hr class="space" />
    </div>
    {% include footer.html %}
  </body>
</html>
